body{
  background-color: black;
  color:white;
  font-family:Verdana;
  text-align: center;
}
h2.toptitle{

}
h2.midtitle, h2.bottomtitle{
  color: white;
  font-weight: normal;
  font-size: 50px
}
p{
  color: gray;
  font-size: 21px;
}
p.download{
  color:aquamarine;
  font-size: 16px;
}

}
h6.foot{
  text-align:right;
  color: gray;
}
